
html{background-color: white;}

body{
  text-align: center;
    font-family: arial;
}
nav
{
	text-align:center;
}
ul{
		text-align: center;
}

		ul li{
			display: inline-block;
			height: 62px;
		}
			ul li a{
				padding: 20px;
				background: blue;
				color: white;
			}
			ul li a:hover{
				background-color: darkgreen;
				box-shadow: 1px 1px 1px #666;
			}
			ul li a:active{ background-color: yellow; }
