body{text-align: center;}

.border p{
	width: auto; height: 100%; margin-left: 5px; font-size: 35px;
	color: #090060; font-family: cursive;
}

div.object
{
	margin: auto;
	display: flex;
	width: 50%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: green;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.quotes {
	text-align: left;
}
