body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}


h1, h2, h3, h4, h5 {color:#000; font-size:25px;}


img{border:none;}

nav{display: none;}
