{% extends "base1.html" %}
{% block content %}
<h1>Add Task</h1>
<form action="/add" method="post" name="add">
    {{ form.hidden_tag() }}
    <p>
       Task Title: {{ form.Title }}<br>
    </p>
    <!--<p>Task Description: {{ form.Description }}</p>-->
    Number of Seasons: {{ form.Seasons }}
    Genre: {{ form.Genre }}
    Universe: {{ form.Universe }}
    <p><input type="submit" value="Add Task"></p>
</form>
{% endblock %}
