<doctype html>
  <head>
  <meta charset="utf-8"/>

      <title>Locations</title>
    <link rel="stylesheet" href="../static/tasks.css" type="text/css" />
  </head>

{% extends "base1.html" %}
{% block content %}
<title>Login Forum</title>
<p>{{ table }}</p>
{% endblock %}
