<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
    <title>To-Do List</title>

	<link rel="stylesheet" href="../static/base.css" type="text/css" />
  <link rel="stylesheet" href="../static/tasks.css" type="text/css" />

</head>
<body>
		<nav>
			<ul>
				<li><a href="/alltasks">Currently Watching</a></li>
				<li><a href="/settings">Settings</a></li>
        <li><a href="/Locations">Location</a></li>
				<li><a href="/add">Add new series</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
    <div>
      {% block content %}{% endblock %}
    </div>
</body>
</html>
