{% extends "base1.html" %}
{% block content %}
<h2>{{ title }}</h2>
<ul id="tasksdisplay">
    {% for todo in todolist %}
    <li id="taskTitle"><br>{{ todo.title }}<br>
      Date Created:{{ todo.date_created }}<br>     
      Date Finished:{{ todo.date_completed }}
      <a id="dbutton" href="{{ url_for('delete', id=todo.id) }}">Delete</a></li>
      <br>
    {% endfor %}
</ul>
{% endblock %}
