{% extends "base1.html" %}
{% block content %}

	<link rel="stylesheet" href="../static/location.css" type="text/css" />
  <link rel="stylesheet" href="../static/print.css" type="text/css" media="print" />
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU"></script>

  <p>Click the button to get an image of your location and how far you are from the
    current filming location of the last season of gotham (new york)</p>

  <button onclick="getLocation()">Check Location</button>
  <div id="mapholder"></div>
  <p id="location"></p>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="location.js"></script>
</body>
</html>
{% endblock %}
