<link rel="stylesheet" href="/static/login.css" type="text/css">
{% block body %}

<form action="/login" method="POST">
<div class="mainmenu">
<div class="display">
<div class="view">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
  <input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
    <li><a href="/register">Create New Account</a></li>
</div>
{% for message in get_flashed_messages() %}
<div class="alert warning">
  <button type="button" class ="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
</div>
</form>
{% endblock %}
