<link rel="stylesheet" href="../static/login.css" type="text/css">
{% block body %}

<form action="/newuser" method="POST">
  <div class="mainmenu">
  <div class="display">
  <div class="view">
<h1>Create an Account</h1>
</div>
<div class="login-form">
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="new Username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
  <input type="password" class="login-field" value="" placeholder="new Password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Create Account" class="btn btn-primary btn-large btn-block">

</div>
{% for message in get_flashed_messages() %}
<div class="alert">
  <button type="button" class ="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
</div>
</div>
</form>
{% endblock %}
