{% extends "base1.html" %}
{% block content %}
<h1>Search</h1>
<form action="/search" method="post" name="search">
    {{ form.hidden_tag() }}
    <p>
       Select what to search by: {{ form.Genre }}<br>
    </p>
    <p><input type="submit" value="search show"></p>
</form>
{{ table1 }}
{% endblock %}
