{% extends "base1.html" %}
{% block content %}
<h1>Change Settings</h1>
<form action="/settings" method="post" name="settings">
    {{ form.hidden_tag() }}
    <p>
       New Username: {{ form.usern }}<br>
    </p>
    <!--<p>Task Description: {{ form.Description }}</p>-->
    New Password: {{ form.passw }}
    <p><input type="submit" value="Add Task"></p>
</form>
{% endblock %}
